.row {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
}

label {
    margin-bottom: 10px;
}

.header-modal {
    text-align: center;
}
.form-container {
    height: auto;
    width: 400px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

input[type=text] {
    height: 20px;
}