.detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
}
.header {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

.msg-list {
    height: 250px;
    overflow-y: scroll;
}

span {
    cursor: pointer;
}