.container .content {
    height: auto;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 1024px;
}

.list {
    display: grid;
    height: 300px;
    max-height: 300px;
    grid-template-rows: 75% 15%;
    row-gap: 10%;

}

.right {
    display: grid;
    grid-template-rows: 50% 50%;
}

.list .list-content {
    overflow-y: scroll;
}

